# Zabbix Server Configuration

LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/run/zabbix/zabbix_server.pid
SocketDir=/var/run/zabbix
DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword=zabbix
StartPollers=5
StartPollersUnreachable=1
StartPingers=1
StartDiscoverers=1
StartPreprocessors=3
StartHTTPPollers=1
StartAlerters=3
StartTimers=1
StartEscalators=1
JavaGateway=127.0.0.1
JavaGatewayPort=10052
StartJavaPollers=0
SNMPTrapperFile=/var/log/snmp/snmptrap.log
StartSNMPTrapper=0
HousekeepingFrequency=1
MaxHousekeeperDelete=50000
SenderFrequency=30
CacheSize=128M
HistoryCacheSize=64M
HistoryIndexCacheSize=32M
TrendCacheSize=32M
ValueCacheSize=256M
Timeout=4
TrapperTimeout=300
UnreachablePeriod=45
UnavailableDelay=60
UnreachableDelay=15
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6
SSHKeyLocation=
LogSlowQueries=3000
TLSConnect=unencrypted
TLSAccept=unencrypted
TLSCAFile=
TLSCRLFile=
TLSCertFile=
TLSKeyFile=
TLSPSKIdentity=
TLSPSKFile=
