---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Create website directory
  file:
    path: /var/www/html
    state: directory
    mode: '0755'

- name: Create simple index.html
  copy:
    dest: /var/www/html/index.html
    content: "Hello from {{ ansible_hostname }}\nIP: {{ ansible_default_ipv4.address }}"
    mode: '0644'

- name: Configure nginx
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: restart nginx

- name: Enable and start nginx
  systemd:
    name: nginx
    enabled: yes
    state: started
